In [2]:
import pandas as pd
import glob

ruta = "Datos\DowJones\*.csv"

# Buscar todos los archivos CSV en la carpeta
archivos = glob.glob(ruta)

# Leer y concatenar todos los CSVs
df = pd.concat((pd.read_csv(archivo) for archivo in archivos), ignore_index=True)

# Verificamos el resultado
print(df.shape)  # filas, columnas
print(df.head())

# Si quieres guardar el CSV final
# df.to_csv("Datos/Transformados/csv_unificado.csv", index=False)

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_4712\3660558202.py:4: SyntaxWarning: invalid escape sequence '\D'
  ruta = "Datos\DowJones\*.csv"

(5577723, 9)
      open    high      low  last    close  volume                      date  \
0  213.370  213.41  213.300   NaN  213.300     NaN  2018-08-16T21:30:00+0000
1  213.280  213.41  213.160   NaN  213.300     NaN  2018-08-16T21:00:00+0000
2  213.430  213.43  212.985   NaN  213.280     NaN  2018-08-16T20:30:00+0000
3  213.133  213.73  212.985   NaN  213.480     NaN  2018-08-16T20:00:00+0000
4  213.273  213.30  213.133   NaN  213.133     NaN  2018-08-16T19:30:00+0000

  symbol exchange
0   AAPL     IEXG
1   AAPL     IEXG
2   AAPL     IEXG
3   AAPL     IEXG
4   AAPL     IEXG

In [3]:
import pandas as pd
datos=pd.read_csv('csv_unificado.csv')
datos.head()

,open,high,low,last,close,volume,date,symbol,exchange
0,213.370,213.41,213.300,NaN,213.300,NaN,2018-08-16T21:30:00+0000,AAPL,IEXG
1,213.280,213.41,213.160,NaN,213.300,NaN,2018-08-16T21:00:00+0000,AAPL,IEXG
2,213.430,213.43,212.985,NaN,213.280,NaN,2018-08-16T20:30:00+0000,AAPL,IEXG
3,213.133,213.73,212.985,NaN,213.480,NaN,2018-08-16T20:00:00+0000,AAPL,IEXG
4,213.273,213.30,213.133,NaN,213.133,NaN,2018-08-16T19:30:00+0000,AAPL,IEXG

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5577723 entries, 0 to 5577722
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   open      float64
 1   high      float64
 2   low       float64
 3   last      float64
 4   close     float64
 5   volume    float64
 6   date      object
 7   symbol    object
 8   exchange  object
dtypes: float64(6), object(3)
memory usage: 383.0+ MB

In [5]:
datos.describe

<bound method NDFrame.describe of             open    high      low     last    close    volume  \
0        213.370  213.41  213.300      NaN  213.300       NaN
1        213.280  213.41  213.160      NaN  213.300       NaN
2        213.430  213.43  212.985      NaN  213.280       NaN
3        213.133  213.73  212.985      NaN  213.480       NaN
4        213.273  213.30  213.133      NaN  213.133       NaN
...          ...     ...      ...      ...      ...       ...
5577718  234.500  235.60  234.170  235.300  234.090  291094.0
5577719  234.500  235.60  234.170  235.235  234.090  290571.0
5577720  234.500  235.60  234.170  235.270  234.090  290254.0
5577721  234.500  235.60  234.170  235.255  234.090  289854.0
5577722  234.500  235.60  234.170  235.285  234.090  289454.0

                             date symbol exchange
0        2018-08-16T21:30:00+0000   AAPL     IEXG
1        2018-08-16T21:00:00+0000   AAPL     IEXG
2        2018-08-16T20:30:00+0000   AAPL     IEXG
3        2018-08-16T20:00:00+0000   AAPL     IEXG
4        2018-08-16T19:30:00+0000   AAPL     IEXG
...                           ...    ...      ...
5577718  2021-06-29T17:07:00+0000      V     IEXG
5577719  2021-06-29T17:05:00+0000      V     IEXG
5577720  2021-06-29T17:04:00+0000      V     IEXG
5577721  2021-06-29T17:03:00+0000      V     IEXG
5577722  2021-06-29T17:02:00+0000      V     IEXG

[5577723 rows x 9 columns]>

In [6]:
import datetime as dt
datos['date'] = pd.to_datetime(datos['date'])

In [7]:
datos.isna().sum()

open              0
high              0
low               0
last        1726036
close       1237343
volume      1720955
date              0
symbol            0
exchange          0
dtype: int64

In [8]:
datos.duplicated().sum()

np.int64(2833305)

In [9]:
datos.groupby('symbol').apply(lambda x: x.count())

C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\4000902064.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  datos.groupby('symbol').apply(lambda x: x.count())

,open,high,low,last,close,volume,date,symbol,exchange
symbol,,,,,,,,,
AAPL,146169,146169,146169,58059,126102,58077,146169,146169,146169
AMGN,75888,75888,75888,53940,55494,54006,75888,75888,75888
AXP,286950,286950,286950,208350,211056,208650,286950,286950,286950
BA,304308,304308,304308,226521,229326,226917,304308,304308,304308
CAT,367092,367092,367092,223959,291681,224361,367092,367092,367092
CRM,326469,326469,326469,238761,251415,239136,326469,326469,326469
CSCO,325755,325755,325755,237999,250410,238116,325755,325755,325755
CVX,217752,217752,217752,159496,167746,159624,217752,217752,217752
DIS,218786,218786,218786,160666,168996,160904,218786,218786,218786
DOW,212874,212874,212874,154866,162482,155122,212874,212874,212874
GS,266290,266290,266290,149260,216552,149548,266290,266290,266290
HD,210438,210438,210438,155790,161104,156052,210438,210438,210438
IBM,210662,210662,210662,155538,160762,155698,210662,210662,210662
INTC,271856,271856,271856,159020,222032,159090,271856,271856,271856
JNJ,216188,216188,216188,158590,166808,158850,216188,216188,216188
JPM,217758,217758,217758,160092,168182,160230,217758,217758,217758
KO,218664,218664,218664,161488,169592,161640,218664,218664,218664
MCD,211040,211040,211040,153446,161656,153696,211040,211040,211040
MMM,200404,200404,200404,145162,150458,145384,200404,200404,200404
MRK,214572,214572,214572,160370,165620,160564,214572,214572,214572
MSFT,217854,217854,217854,162704,167960,162906,217854,217854,217854
NKE,195976,195976,195976,107243,171470,107351,195976,195976,195976
PG,109153,109153,109153,80186,84623,80282,109153,109153,109153
TRV,92700,92700,92700,63641,66562,63759,92700,92700,92700
UNH,105428,105428,105428,77653,80567,77785,105428,105428,105428
V,136697,136697,136697,78887,111724,79020,136697,136697,136697

In [10]:
datos['fecha'] = datos['date'].dt.date 
df_primeros = datos.groupby(['fecha', 'symbol']).first().reset_index()
df_primeros

,fecha,symbol,open,high,low,last,close,volume,date,exchange
0,2018-06-06,AAPL,193.385,194.000,193.280,NaN,194.000,NaN,2018-06-06 23:30:00+00:00,IEXG
1,2018-06-07,AAPL,193.680,193.910,193.225,NaN,193.500,NaN,2018-06-07 23:30:00+00:00,IEXG
2,2018-06-07,INTC,55.940,56.000,55.835,NaN,55.900,NaN,2018-06-07 23:30:00+00:00,IEXG
3,2018-06-08,AAPL,191.555,191.995,191.475,NaN,191.510,NaN,2018-06-08 23:30:00+00:00,IEXG
4,2018-06-08,INTC,55.095,55.260,54.930,NaN,55.005,NaN,2018-06-08 23:30:00+00:00,IEXG
...,...,...,...,...,...,...,...,...,...,...
12296,2021-07-01,NKE,154.560,154.560,154.560,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG
12297,2021-07-01,PG,135.050,135.050,135.050,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG
12298,2021-07-01,TRV,149.830,149.830,149.830,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG
12299,2021-07-01,UNH,400.410,400.410,400.410,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG
12300,2021-07-01,V,234.070,234.070,234.070,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG

In [11]:
df_primeros.isna().sum()

fecha          0
symbol         0
open           0
high           0
low            0
last        4384
close        555
volume      4384
date           0
exchange       0
dtype: int64

In [12]:
df_primeros['fecha']=pd.to_datetime(df_primeros['fecha'])
df_primeros['dia_semana'] = df_primeros['fecha'].dt.day_of_week
df_primeros

,fecha,symbol,open,high,low,last,close,volume,date,exchange,dia_semana
0,2018-06-06,AAPL,193.385,194.000,193.280,NaN,194.000,NaN,2018-06-06 23:30:00+00:00,IEXG,2
1,2018-06-07,AAPL,193.680,193.910,193.225,NaN,193.500,NaN,2018-06-07 23:30:00+00:00,IEXG,3
2,2018-06-07,INTC,55.940,56.000,55.835,NaN,55.900,NaN,2018-06-07 23:30:00+00:00,IEXG,3
3,2018-06-08,AAPL,191.555,191.995,191.475,NaN,191.510,NaN,2018-06-08 23:30:00+00:00,IEXG,4
4,2018-06-08,INTC,55.095,55.260,54.930,NaN,55.005,NaN,2018-06-08 23:30:00+00:00,IEXG,4
...,...,...,...,...,...,...,...,...,...,...,...
12296,2021-07-01,NKE,154.560,154.560,154.560,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3
12297,2021-07-01,PG,135.050,135.050,135.050,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3
12298,2021-07-01,TRV,149.830,149.830,149.830,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3
12299,2021-07-01,UNH,400.410,400.410,400.410,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3
12300,2021-07-01,V,234.070,234.070,234.070,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3

In [13]:
dias_laborales = df_primeros[~df_primeros['dia_semana'].isin([5, 6])]
dias_laborales

,fecha,symbol,open,high,low,last,close,volume,date,exchange,dia_semana
0,2018-06-06,AAPL,193.385,194.000,193.280,NaN,194.000,NaN,2018-06-06 23:30:00+00:00,IEXG,2
1,2018-06-07,AAPL,193.680,193.910,193.225,NaN,193.500,NaN,2018-06-07 23:30:00+00:00,IEXG,3
2,2018-06-07,INTC,55.940,56.000,55.835,NaN,55.900,NaN,2018-06-07 23:30:00+00:00,IEXG,3
3,2018-06-08,AAPL,191.555,191.995,191.475,NaN,191.510,NaN,2018-06-08 23:30:00+00:00,IEXG,4
4,2018-06-08,INTC,55.095,55.260,54.930,NaN,55.005,NaN,2018-06-08 23:30:00+00:00,IEXG,4
...,...,...,...,...,...,...,...,...,...,...,...
12296,2021-07-01,NKE,154.560,154.560,154.560,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3
12297,2021-07-01,PG,135.050,135.050,135.050,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3
12298,2021-07-01,TRV,149.830,149.830,149.830,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3
12299,2021-07-01,UNH,400.410,400.410,400.410,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3
12300,2021-07-01,V,234.070,234.070,234.070,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3

In [14]:
dias_laborales.isna().sum()

fecha            0
symbol           0
open             0
high             0
low              0
last          3351
close          155
volume        3351
date             0
exchange         0
dia_semana       0
dtype: int64

In [19]:
import yfinance as yf
# Filtramos las filas con valores faltantes en "close"
faltantes = dias_laborales[dias_laborales["close"].isna()].copy()

# Diccionario para cachear descargas y no repetir llamadas innecesarias
data_cache = {}

# Recorremos símbolos únicos de los faltantes
for symbol in faltantes["symbol"].unique():
    fechas = faltantes.loc[faltantes["symbol"] == symbol, "fecha"].dt.strftime("%Y-%m-%d").tolist()
    
    # Descargamos solo el rango de fechas que necesitamos
    start, end = min(fechas), max(fechas)
    
    if symbol not in data_cache:
        try:
            hist = yf.download(symbol, start=start, end=end)
            hist.index = hist.index.tz_localize(None)  # quitar timezone
            data_cache[symbol] = hist
        except Exception as e:
            print(f"Error descargando {symbol}: {e}")
            continue

    # Asignamos el valor a cada fila
    for f in fechas:
        try:
            valor = data_cache[symbol].loc[f, "Close"]
            dias_laborales.loc[(dias_laborales["symbol"] == symbol) & (dias_laborales["fecha"] == pd.to_datetime(f)), "close"] = valor
        except KeyError:
            pass  # si no hay datos de esa fecha (ej. fin de semana), se queda NaN

C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2881751124.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed

In [30]:
import yfinance as yf
import pandas as pd

faltantes = dias_laborales[dias_laborales["close"].isna()].copy()
data_cache = {}

for symbol in faltantes["symbol"].unique():
    fechas = faltantes.loc[faltantes["symbol"] == symbol, "fecha"].dt.strftime("%Y-%m-%d").tolist()
    start, end = min(fechas), (pd.to_datetime(max(fechas)) + pd.Timedelta(days=1)).strftime("%Y-%m-%d")
    
    if symbol not in data_cache:
        try:
            hist = yf.download(symbol, start=start, end=end)
            hist.index = hist.index.tz_localize(None)
            data_cache[symbol] = hist
        except Exception as e:
            print(f"Error descargando {symbol}: {e}")
            continue

    for f in fechas:
        fecha_ts = pd.to_datetime(f)
        # Buscamos la fila más cercana hacia atrás si no existe
        valor = data_cache[symbol]["Close"].reindex([fecha_ts], method="ffill").iloc[0]
        dias_laborales.loc[(dias_laborales["symbol"] == symbol) & 
                           (dias_laborales["fecha"] == fecha_ts), "close"] = valor

C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
C:\Users\PORTATIL\AppData\Local\Temp\ipykernel_39084\2960363786.py:13: FutureWarning: YF.download() has changed argument auto_adjust default to True
  hist = yf.download(symbol, start=start, end=end)
[*********************100%***********************]  1 of 1 completed

In [31]:
dias_laborales.isna().sum()

fecha            0
symbol           0
open             0
high             0
low              0
last          3351
close          155
volume        3351
date             0
exchange         0
dia_semana       0
dtype: int64

In [29]:
dias_laborales[(dias_laborales['close'].isna()) & (dias_laborales['symbol'] == 'AAPL')]

,fecha,symbol,open,high,low,last,close,volume,date,exchange,dia_semana
9831,2021-03-11,AAPL,121.935,121.955,121.855,NaN,NaN,NaN,2021-03-11 23:55:00+00:00,IEXG,3
9857,2021-03-12,AAPL,120.720,120.735,120.665,NaN,NaN,NaN,2021-03-12 23:55:00+00:00,IEXG,4
10247,2021-03-30,AAPL,119.650,119.650,119.510,NaN,NaN,NaN,2021-03-30 23:55:00+00:00,IEXG,1
10273,2021-03-31,AAPL,122.975,123.040,122.970,NaN,NaN,NaN,2021-03-31 19:50:00+00:00,IEXG,2
10325,2021-04-02,AAPL,122.150,122.150,122.150,NaN,NaN,NaN,2021-04-02 00:00:00+00:00,IEXG,4
12275,2021-07-01,AAPL,137.060,137.070,137.060,NaN,NaN,NaN,2021-07-01 00:00:00+00:00,IEXG,3

A PARTIR DE AQUI NO

In [ ]:
df_primeros.groupby('symbol').apply(lambda x: x.isna().sum())

In [ ]:
df_primeros['fecha']=pd.to_datetime(df_primeros['fecha'])

In [ ]:
import yfinance as yf
# Filtramos las filas con valores faltantes en "close"
faltantes = df_primeros[df_primeros["close"].isna()].copy()

# Diccionario para cachear descargas y no repetir llamadas innecesarias
data_cache = {}

# Recorremos símbolos únicos de los faltantes
for symbol in faltantes["symbol"].unique():
    fechas = faltantes.loc[faltantes["symbol"] == symbol, "fecha"].dt.strftime("%Y-%m-%d").tolist()
    
    # Descargamos solo el rango de fechas que necesitamos
    start, end = min(fechas), max(fechas)
    
    if symbol not in data_cache:
        try:
            hist = yf.download(symbol, start=start, end=end)
            hist.index = hist.index.tz_localize(None)  # quitar timezone
            data_cache[symbol] = hist
        except Exception as e:
            print(f"Error descargando {symbol}: {e}")
            continue

    # Asignamos el valor a cada fila
    for f in fechas:
        try:
            valor = data_cache[symbol].loc[f, "Close"]
            df.loc[(df["symbol"] == symbol) & (df["fecha"] == pd.to_datetime(f)), "close"] = valor
        except KeyError:
            pass  # si no hay datos de esa fecha (ej. fin de semana), se queda NaN

In [ ]:
df_primeros['close'].isna().sum()

A PARTIR DE AQUI MAL

In [ ]:
import yfinance as yf
from datetime import timedelta
import pandas as pd

def rellenar_close_yfinance(df, symbol_col='symbol', date_col='date', close_col='close'):
    df = df.copy()
    # Asegurarse de que la columna de fecha esté en formato datetime
    df[date_col] = pd.to_datetime(df[date_col])
    for idx, row in df.iterrows():
        if pd.isna(row[close_col]):
            symbol = row[symbol_col]
            fecha = row[date_col]
            # Descargar solo el día necesario
            try:
                start = fecha.strftime('%Y-%m-%d')
                end = (fecha + timedelta(days=1)).strftime('%Y-%m-%d')
                data_yf = yf.download(symbol, start=start, end=end)
            except Exception as e:
                print(f'Error descargando {symbol} en {fecha}: {e}')
                continue
            if not data_yf.empty and 'Close' in data_yf.columns:
                # Buscar el valor de cierre para la fecha
                fecha_dt = fecha.date()
                data_yf.index = pd.to_datetime(data_yf.index).date
                if fecha_dt in data_yf.index:
                    valor = data_yf.loc[fecha_dt, 'Close']
                    if not pd.isna(valor):
                        df.at[idx, close_col] = valor
    return df

# Ejemplo de uso:
df_close = rellenar_close_yfinance(df_primeros, symbol_col='symbol', date_col='fecha', close_col='close')
df_close

In [ ]:
datos.groupby('symbol').apply(lambda x: x.isna().sum())

In [ ]:
datos['fecha'] = datos['date'].dt.date 
datos.head()

In [ ]:
df_primeros = datos.groupby(['fecha', 'symbol']).first().reset_index()
df_primeros

In [ ]:
df_primeros.groupby('symbol').apply(lambda x: x.isna().sum())

In [ ]:
import yfinance as yf
from datetime import timedelta

# Función robusta para rellenar valores nulos usando yfinance
def rellenar_missings_yfinance(df, symbol_col='symbol', date_col='date'):
    import pandas as pd
    df = df.copy()
    symbols = df[symbol_col].unique()
    for symbol in symbols:
        sub = df[df[symbol_col] == symbol]
        for col in ['open', 'high', 'low', 'close', 'volume']:
            if col in sub.columns and sub[col].isna().any():
                fechas_nulas = sub.loc[sub[col].isna(), date_col]
                if not fechas_nulas.empty:
                    start = fechas_nulas.min()
                    end = fechas_nulas.max()
                    # Descargar datos de yfinance para el periodo faltante
                    try:
                        data_yf = yf.download(symbol, start=start, end=(end + timedelta(days=1)).strftime('%Y-%m-%d'))
                    except Exception as e:
                        print(f'Error descargando {symbol}: {e}')
                        continue
                    if data_yf is None or data_yf.empty:
                        continue
                    # Convertir el índice a datetime.date para comparar correctamente
                    data_yf.index = pd.to_datetime(data_yf.index).date
                    for fecha in fechas_nulas:
                        # Convertir fecha a date si es Timestamp
                        fecha_dt = fecha.date() if hasattr(fecha, 'date') else fecha
                        if fecha_dt in data_yf.index:
                            col_yf = col.capitalize() if col != 'volume' else 'Volume'
                            if col_yf in data_yf.columns:
                                valor = data_yf.loc[fecha_dt, col_yf]
                                # Solo rellenar si sigue siendo nulo
                                mask = (df[symbol_col]==symbol) & (df[date_col]==fecha)
                                if pd.isna(df.loc[mask, col]).any() and valor is not None:
                                    df.loc[mask, col] = valor
    return df

# Usar la función para rellenar los missings
df_p = rellenar_missings_yfinance(df_primeros)
df_p.isna().sum()

In [ ]:
# Para cada día, quedarse con una sola fila (por ejemplo, la primera encontrada para ese día) y mantener el valor de close (NaN si lo hay)
df_close = datos[[col for col in datos.columns if col in ['date', 'close']]].copy()
df_close = df_close.groupby('date', as_index=False).first()
df_close['close'] = df_close['close'].where(df_close['close'].notna(), 'ns')
df_close

In [ ]:
# Calcular el porcentaje de valores nulos (NaN) por cada columna de cada symbol
porcentaje_nas = datos.groupby('symbol').apply(lambda x: x.isna().mean() * 100)
porcentaje_nas

In [ ]:
# IEXG es el 100% de los missings de df_primeros